.navbar {
  padding: 0;
  margin: 0;
}

.navbar-nav {
  display: flex;
  width: 100%;
  height: 5rem;

  a {
    font-family: "Black Ops One";
    color: white;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 0;
    height: 100%;
    line-height: 5rem;
  }
}

.inicio {
  background-color: var(--claro);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    color: var(--oscuro);
  }
}

.store {
  background-color: var(--intermedio);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    color: var(--claro);
  }
}

.trayectoria {
  background-color: var(--oscuro);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    color: var(--claro);
  }
}

.servicios {
  background-color: var(--claro);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    color: var(--oscuro);
  }
}

.contacto {
  background-color: var(--intermedio);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    color: var(--claro);
  }
}
