.mainServicios {
  background-color: #4db021;
  padding: 5rem 10rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.tarjetaDea2 {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.cardServicios {
  width: 50%;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.card-bodyServicios {
  background-color: #077508;
  color: white;
  font-family: "Carter One";

  h5 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.btnServicios {
  background-color: white;
  color: #077508;
  border: none;

  &:hover {
    background-color: #4db021;
  }
}

.imgServicios {
  height: 75%;
}
