.mainTrayectoria {
  background-color: var(--intermedio);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contenedorTrabajos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--claro);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 10px var(--oscuro) ;

  h1 {
    color: white;
    font-family: "Roboto Slab";
  }

  h3 {
    font-family: "Carter One";
    border: 2px solid white;
    border-radius: 50%;
    padding: 2rem;
    background-color: white;
    color: var(--claro);
    text-align: center;
  }

  p {
    font-size: 2rem;
    width: 50%;
    font-family: "Roboto Slab";
    color: white;
  }

  img {
    width: 12rem;
  }
}

.rotate-center {
  -webkit-animation: rotate-center 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3
    both;
  animation: rotate-center 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3 both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.flechaBlanca {
  width: 20rem;
  align-self: center;
}
