.mainServicios {
  background-color: var(--oscuro);
  padding: 5rem 10rem;
  gap: 5rem;
  display: flex;
  flex-direction: column;
}

.tarjetaDea2 {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  justify-content: center;
}

.cardServicios {
  width: 40%;
  transition: transform 0.3s ease;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  &:hover {
    transform: scale(1.1);
  }
}

 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


.card-bodyServicios {
  background-color: var(--claro);
  color: white;
  font-family: "Carter One";

  h5 {
    font-size: 1.8rem;
  }

  p {
    font-size: 2rem;
  }
}

.btnServicios {
  background-color: white;
  color: var(--oscuro);
  border: none;

  &:hover {
    background-color: var(--intermedio);
  }
}

.imgServicios {
  height: 75%;
}
