@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Carter+One&family=Roboto+Slab:wght@200&family=Sedgwick+Ave&display=swap");
:root {
  --oscuro: #131515;
  --intermedio: #1B264F;
  --claro: #274690;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 0;
  margin: 0;
}

.navbar-nav {
  display: flex;
  width: 100%;
  height: 5rem;
}
.navbar-nav a {
  font-family: "Black Ops One";
  color: white;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 0;
  height: 100%;
  line-height: 5rem;
}

.inicio {
  background-color: var(--claro);
  transition: transform 0.3s ease;
}
.inicio:hover {
  transform: scale(1.1);
  color: var(--oscuro);
}

.store {
  background-color: var(--intermedio);
  transition: transform 0.3s ease;
}
.store:hover {
  transform: scale(1.1);
  color: var(--claro);
}

.trayectoria {
  background-color: var(--oscuro);
  transition: transform 0.3s ease;
}
.trayectoria:hover {
  transform: scale(1.1);
  color: var(--claro);
}

.servicios {
  background-color: var(--claro);
  transition: transform 0.3s ease;
}
.servicios:hover {
  transform: scale(1.1);
  color: var(--oscuro);
}

.contacto {
  background-color: var(--intermedio);
  transition: transform 0.3s ease;
}
.contacto:hover {
  transform: scale(1.1);
  color: var(--claro);
}

.contenedorVideo {
  position: relative;
  width: 100%;
}
.contenedorVideo .contenedorTitulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
  font-family: "Carter One";
}
.contenedorVideo .contenedorTitulo h1 {
  font-size: 8rem;
}

.bounce-in-top {
  animation: bounce-in-top 1.1s both;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.videoFondo {
  width: 100%;
  height: auto;
  display: block;
}

.contenedorVideo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.nosotros {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--claro);
  width: 100%;
  padding: 2rem;
}
.nosotros img {
  border-radius: 50%;
  width: 20%;
}
.nosotros p {
  font-family: "Roboto Slab";
  font-size: 3rem;
  color: white;
  text-align: center;
  padding-top: 3rem;
  margin: 1rem;
}

.mainTrayectoria {
  background-color: var(--intermedio);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contenedorTrabajos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--claro);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 10px var(--oscuro);
}
.contenedorTrabajos h1 {
  color: white;
  font-family: "Roboto Slab";
}
.contenedorTrabajos h3 {
  font-family: "Carter One";
  border: 2px solid white;
  border-radius: 50%;
  padding: 2rem;
  background-color: white;
  color: var(--claro);
  text-align: center;
}
.contenedorTrabajos p {
  font-size: 2rem;
  width: 50%;
  font-family: "Roboto Slab";
  color: white;
}
.contenedorTrabajos img {
  width: 12rem;
}

.rotate-center {
  animation: rotate-center 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3 both;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flechaBlanca {
  width: 20rem;
  align-self: center;
}

.bodyStore {
  background-color: var(--claro);
}

.contenedorBuscador {
  background-color: var(--claro);
  padding: 1rem;
}

.buscador {
  width: 25%;
}

.btnBuscador {
  background-color: white;
}
.btnBuscador:hover {
  background-color: var(--oscuro);
}

.contenedorArticulos {
  background-color: var(--claro);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: ". . . ." ". . . ." ". . . .";
  gap: 2rem;
  margin: 0 2rem;
  padding-bottom: 1rem;
}

.articulo {
  border: 5px solid var(--verdeOscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  animation: slit-in-vertical 0.45s ease-out both;
}

.articulo1 {
  animation-delay: 0.5s;
}

.articulo2 {
  animation-delay: 1s;
}

.articulo3 {
  animation-delay: 1.5s;
}

.articulo4 {
  animation-delay: 2s;
}

.articulo5 {
  animation-delay: 2.5s;
}

.articulo6 {
  animation-delay: 3s;
}

.articulo7 {
  animation-delay: 3.5s;
}

.articulo8 {
  animation-delay: 4s;
}

.articulo9 {
  animation-delay: 4.5s;
}

.articulo10 {
  animation-delay: 5s;
}

.articulo11 {
  animation-delay: 5.5s;
}

.articulo12 {
  animation-delay: 6s;
}
@keyframes slit-in-vertical {
  0% {
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateY(0);
  }
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  font-family: "Carter One";
}

.btnComprar {
  background-color: var(--intermedio);
}
.btnComprar:hover {
  background-color: var(--claro);
}

.mainServicios {
  background-color: var(--oscuro);
  padding: 5rem 10rem;
  gap: 5rem;
  display: flex;
  flex-direction: column;
}

.tarjetaDea2 {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  justify-content: center;
}

.cardServicios {
  width: 40%;
  transition: transform 0.3s ease;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.cardServicios:hover {
  transform: scale(1.1);
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.card-bodyServicios {
  background-color: var(--claro);
  color: white;
  font-family: "Carter One";
}
.card-bodyServicios h5 {
  font-size: 1.8rem;
}
.card-bodyServicios p {
  font-size: 2rem;
}

.btnServicios {
  background-color: white;
  color: var(--oscuro);
  border: none;
}
.btnServicios:hover {
  background-color: var(--intermedio);
}

.imgServicios {
  height: 75%;
}

.contenedorContacto {
  display: flex;
  height: 100vh;
}

.datos {
  width: 50%;
  background-color: var(--claro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Black Ops One";
  padding: 2rem;
  gap: 1.5rem;
}
.datos h2 {
  font-size: 3rem;
}
.datos p {
  font-size: 2rem;
}

i {
  font-size: 2rem;
  color: var(--oscuro);
}
i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.lineaDivisora {
  border-bottom: 5px solid var(--verdeOscuro);
  width: 75%;
}

.formulario {
  width: 50%;
  background-color: var(--intermedio);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Black Ops One";
  padding: 2rem;
  gap: 2rem;
  text-align: center;
}
.formulario h2 {
  font-size: 3rem;
  margin-top: -2rem;
}

.redes {
  display: flex;
  gap: 3rem;
}

.contenedorFormulario {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}
.contenedorFormulario input {
  height: 2rem;
}
.contenedorFormulario label {
  font-size: 1.5rem;
}
.contenedorFormulario select {
  height: 2rem;
}

footer {
  background-color: var(--oscuro);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
footer img {
  border-radius: 50%;
  width: 5rem;
}
footer div {
  border-top: 1px solid var(--claro);
}

.links {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}
.links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

p {
  color: var(--intermedio);
}

@media (max-width: 1200px) {
  .contenedorVideo .contenedorTitulo h1 {
    font-size: 6rem;
  }
  .contenedorArticulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: ". . ." ". . ." ". . ." ". . .";
  }
  .contenedorTrabajos h1 {
    font-size: 1.5rem;
  }
  .contenedorTrabajos h3 {
    font-size: 1.4rem;
  }
  .contenedorTrabajos p {
    font-size: 1.4rem;
  }
  .contenedorTrabajos img {
    width: 8rem;
  }
  .flechaBlanca {
    width: 15rem;
  }
  .card-bodyServicios h5 {
    font-size: 1.5rem;
  }
  .card-bodyServicios p {
    font-size: 1rem;
  }
  .datos {
    gap: 1rem;
  }
  .datos h2 {
    font-size: 3rem;
  }
  .datos p {
    font-size: 1.5rem;
  }
  .formulario h2 {
    font-size: 3rem;
  }
  .contenedorFormulario {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contenedorVideo .contenedorTitulo h1 {
    font-size: 4rem;
  }
  .nosotros p {
    font-size: 1.5rem;
  }
  .navbar {
    z-index: 9999;
  }
  .fondoBoton {
    background-color: var(--verdeOscuro);
  }
  .navbar-toggler {
    background-color: var(--verdeClaro);
  }
  .contenedorArticulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: ". . " ". . " ". . " ". . " ". . " ". . ";
  }
  .buscador {
    width: 50%;
  }
  .contenedorTrabajos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    margin-top: -1rem;
  }
  .contenedorTrabajos p {
    width: 100%;
  }
  .mainServicios {
    padding: 5rem;
  }
  .card-bodyServicios h5 {
    font-size: 1.2rem;
  }
  .card-bodyServicios p {
    font-size: 0, 8rem;
  }
  .contenedorContacto {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .formulario {
    width: 100%;
  }
  .datos {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .contenedorVideo .contenedorTitulo h1 {
    font-size: 2.5rem;
  }
  .nosotros p {
    margin: 0;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buscador {
    width: 100%;
  }
  .contenedorArticulos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .contenedorTrabajos h3 {
    font-size: 1rem;
  }
  .contenedorTrabajos p {
    font-size: 1.2rem;
  }
  .contenedorTrabajos img {
    width: 6rem;
  }
  .flechaBlanca {
    width: 10rem;
  }
  .mainServicios {
    padding: 2rem 0;
  }
  .tarjetaDea2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .cardServicios {
    width: 80%;
  }
}/*# sourceMappingURL=styles.css.map */